name: Build and Publish

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '7.x'

     
      - name: Build
        run: dotnet build testzk/testzk.csproj --configuration Release

      - name: Publish
        run: dotnet publish C:/Projects/TestProjZaheer_Publish --configuration Release --output ./publish
